.ghost{
  position : absolute;
  z-index  : 10;
  display  : inline-block;
  width    : 32px;
  height   : 32px;
  transform:translate(calc(var(--block) / -2) , calc(var(--block) / -2));
}
.ghost::before{
  content:'';
  position:absolute;
  
  display : block;
  width   : 100%;
  height  : 100%;
  clip-path : path('M 0,24 Q 0,0 16,0 Q 32,0 32,24 L 32,30  Q 30,34 26,30 Q 23,26 19,30 Q 16,34 12,30 Q 10,26 6,30 Q 2,34 0,30 T 0,30 z');
}

.ghost[data-color='1']::before{
  background-color : red;
}
.ghost[data-color='2']::before{
  background-color : orange;
}
.ghost[data-color='3']::before{
  background-color : lightblue;
}
.ghost[data-color='4']::before{
  background-color : pink;
}
.ghost[data-status='weak']::before{
  background-color : blue;
}

.ghost .eye-l,
.ghost .eye-r{
  position:absolute;
  top:8px;
  width:8px;
  background-color:white;
  width:9px;
  height:9px;
  border-radius:50%;
}
.ghost .eye-l{
  left:5px;
}
.ghost .eye-r{
  right:5px;
}
.ghost .eye-l::before,
.ghost .eye-r::before{
  content:'';
  position:absolute;
  left:50%;
  top:50%;
  width:50%;
  height:50%;
  background-color:black;
  transform:translate(-50%,-50%);
  border-radius:50%;
}
.ghost[data-direction='left'] .eye-l{
  left:0px;
}
.ghost[data-direction='left'] .eye-r{
  right:10px;
}
.ghost[data-direction='right'] .eye-l{
  left:10px;
}
.ghost[data-direction='right'] .eye-r{
  right:0px;
}
.ghost[data-direction='up'] .eye-l,
.ghost[data-direction='up'] .eye-r{
  top:2px;
}
.ghost[data-direction='down'] .eye-l,
.ghost[data-direction='down'] .eye-r{
  top:16px;
}

.ghost[data-direction='left'] .eye-l::before,
.ghost[data-direction='left'] .eye-r::before{
  left:0;
  right:auto;
  transform:translate(0,-50%);
}
.ghost[data-direction='right'] .eye-l::before,
.ghost[data-direction='right'] .eye-r::before{
  left:auto;
  right:0;
  transform:translate(0,-50%);
}
.ghost[data-direction='up'] .eye-l::before,
.ghost[data-direction='up'] .eye-r::before{
  top:0;
  bottom:auto;
  transform:translate(-50%,0);
}
.ghost[data-direction='down'] .eye-l::before,
.ghost[data-direction='down'] .eye-r::before{
  top:auto;
  bottom:0;
  transform:translate(-50%,0);
}

.ghost[data-status='weak'] .eye-l{
  top:8px;
  left:8px;
}
.ghost[data-status='weak'] .eye-r{
  top:8px;
  right:8px;
}
.ghost[data-status='weak'] .eye-l,
.ghost[data-status='weak'] .eye-r{
  width:6px;
  height:6px
}
.ghost[data-status='weak'] .eye-l::before,
.ghost[data-status='weak'] .eye-r::before{
  opacity:0;
}
.ghost[data-status='weak'] .mouse{
  position:absolute;
  top:16px;
  left:0;
  width:100%;
  height:8px;
  background-color:#FFF;
  clip-path : path('M 2,6 Q 4,2 6,4 Q 8,8 10,4 Q 12,2 14,4 Q 16,8 18,4 Q 20,2 22,4 Q 24,8 26,4 Q 28,2 30,6  L 30,7  Q 28,3 26,5 Q 24,9 22,5 Q 20,3 18,5 Q 16,9 14,5 Q 12,3 10,5 Q 8,9 6,5 Q 4,3 2,7');
}

.ghost[data-status='dead']::before{
  background-color : transparent;
}
