.ghost{
  position:absolute;
  z-index:9;
  display:inline-block;
  --size-width : calc(var(--size-chara) * 1.0);
  --size-eye   : calc(var(--size-width) * 0.3);
  --size-under : calc(var(--size-width) * 0.2);
  --color-body : red;

  width:var(--size-chara);
  height:var(--size-chara);
  transform:translate(calc(var(--block) / -2) , calc(var(--block) / -2));
}
.ghost[data-color='1']{--color-body : red;}
.ghost[data-color='2']{--color-body : orange;}
.ghost[data-color='3']{--color-body : lightblue;}
.ghost[data-color='4']{--color-body : pink;}
.ghost[data-status='weak']{--color-body : blue;}

.ghost > *{
  margin : 0 auto;
  width  : var(--size-width);
}

.ghost > .head{
  height : calc(var(--size-width) / 2);
  background-color : var(--color-body);
  border-radius    : var(--size-chara) var(--size-chara) 0 0;
  position:relative;
}
.ghost > .head .eyes{
  position:absolute;
  width:100%;
  bottom:0;
  z-index:10;
}
.ghost > .head .eyes *{
  position:absolute;
  bottom:0%;
  width  : var(--size-eye);
  height : var(--size-eye);
  background-color:white;
  border-radius:50%;
}
.ghost > .head .eyes .eye-left{
  left:13%;
}
.ghost > .head .eyes .eye-right{
  right:13%;
}
.ghost > .head .eyes *::before{
  content:'';
  display:block;
  background-color:black;
  width  : 50%;
  height : 50%;
  margin : 25%;
  border-radius:50%;
  transition-property : margin;
  transition-duration : 0.3s;

}
.ghost > .head[data-direction='right'] .eyes{
  left:12%;
}
.ghost > .head[data-direction='left'] .eyes{
  left:-12%;
}
.ghost > .head[data-direction='up'] .eyes{
  bottom:20%;
}
.ghost > .head[data-direction='down'] .eyes{
  bottom:-20%;
}
.ghost[data-status='weak'] > .head .eyes{
  left:0;
  bottom:20%;
}

.ghost > .head[data-direction='right'] .eyes > *::before{
  margin-left  : 50%;
  margin-right : 0;
}
.ghost > .head[data-direction='left'] .eyes > *::before{
  margin-left  : 0;
  margin-right : 50%;
}
.ghost > .head[data-direction='up'] .eyes > *::before{
  margin-top    : 0;
  margin-bottom : 50%;
}
.ghost > .head[data-direction='down'] .eyes > *::before{
  margin-top    : 50%;
  margin-bottom : 0;
}
.ghost[data-status='weak'] > .head .eyes *::before{
  display:none;
}

.ghost[data-status='weak'] > .head .eyes .eye-left,
.ghost[data-status='weak'] > .head .eyes .eye-right{
  width  : calc(var(--size-eye) / 2);
  height : calc(var(--size-eye) / 2);
  background-color:white;
  border-radius:50%;
}
.ghost[data-status='weak'] > .head .eyes .eye-left{
  left:25%;
}
.ghost[data-status='weak'] > .head .eyes .eye-right{
  right:25%;
}

.ghost > .mouse{
  height : 30%;
  background-color : var(--color-body);
  position:relative;
}

.frame-area .ghost > .mouse > svg{
  display:none;
}
.ghost[data-status='weak'] > .mouse > svg{
  position:absolute;
  top:-60%;
  display:block;
  margin-top:10px;
}

.ghost > .under{
  height : var(--size-under);
}
.ghost > .under path{
  fill:var(--color-body);
}