.pacman{
  position:absolute;
  z-index:10;
  display:inline-block;
  width:var(--size-chara);
  height:var(--size-chara);
}

.pacman[data-status='crashed']::before,
.pacman[data-status='crashed']::after{
  animation-play-state: paused;
}

.pacman::before,
.pacman::after{
  content:'';
  display:block;
  width:100%;
  height:50%;
  background-color:yellow;
  animation-duration:var(--anim-speed);
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.pacman::before{
  transform-origin:center bottom;
  border-radius:var(--size-chara) var(--size-chara) 0 0;
  transform:rotate(45deg);
}
.pacman::after{
  transform-origin:center top;
  border-radius:0 0 var(--size-chara) var(--size-chara);
  transform:rotate(-45deg);
}
.pacman[data-anim="true"]::before{
  animation-name : pacman_before;
}
.pacman[data-anim="true"]::after{
  animation-name : pacman_after;
}

@keyframes pacman_before{
  0%{
    transform:rotate(45deg);
  }
  50%{
    transform:rotate(0deg);
  }
  100%{
    transform:rotate(45deg);
  }
}
@keyframes pacman_after{
  0%{
    transform:rotate(-45deg);
  }
  50%{
    transform:rotate(0deg);
  }
  100%{
    transform:rotate(-45deg);
  }
}

.pacman,
.pacman[data-direction="left"]{
  transform:translate(calc(var(--block) / -2) , calc(var(--block) / -2));
}
.pacman[data-direction="right"]{
  transform:translate(calc(var(--block) / -2) , calc(var(--block) / -2)) scaleX(-1);
}
.pacman[data-direction="up"]{
  transform:translate(calc(var(--block) / -2) , calc(var(--block) / -2)) rotate(90deg);
}
.pacman[data-direction="down"]{
  transform:translate(calc(var(--block) / -2) , calc(var(--block) / -2)) rotate(-90deg);
}

.pacman[data-status="dead"]::before,
.pacman[data-status="dead"]::after{
  transform:rotate(0deg);
  animation-delay : 0.0s;
  animation-direction : normal;
  animation-duration : 2.0s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
.pacman[data-status="dead"]::before{
  animation-name : pacman-dead-before;
}
.pacman[data-status="dead"]::after{
  animation-name : pacman-dead-after;
}

@keyframes pacman-dead-before{
  0%{
    clip-path: polygon(
       50% 100%, 
        0% 100%, 
        0% 0%,
      100% 0%,
      100% 100%
    );
  }
  25%{
    clip-path: polygon(
      50% 100%, 
      0% 0%, 
      0% 0%, 
      100% 0%,
      100% 100%
    );
  }
  75%{
    clip-path: polygon(
       50% 100%, 
      100% 0%, 
      100% 0%,
      100% 0%,
      100% 100%
    );
  }
  
  100%{
    clip-path: polygon(
      50% 100%, 
      100% 100%, 
      100% 100%, 
      100% 100%, 
      100% 100% 
    );
  }
}
@keyframes pacman-dead-after{
  0%{
    clip-path: polygon(
       50% 0%, 
        0% 0%, 
        0% 100%,
      100% 100%,
      100% 0%
    );
  }
  25%{
    clip-path: polygon(
      50% 0%, 
      0% 100%, 
      0% 100%, 
      100% 100%,
      100% 0%
    );
  }
  75%{
    clip-path: polygon(
       50% 0%, 
      100% 100%, 
      100% 100%,
      100% 100%,
      100% 0%
    );
  }
  
  100%{
    clip-path: polygon(
      50% 0%, 
      100% 0%, 
      100% 0%, 
      100% 0%, 
      100% 0% 
    );
  }
}