.pacman{
  /* position:absolute; */
  display:inline-block;
  top:100px;
  left:100px;
  width:var(--size-chara);
  height:var(--size-chara);
}

.pacman::before,
.pacman::after{
  content:'';
  display:block;
  width:100%;
  height:50%;
  background-color:yellow;
  animation-duration:0.4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.pacman::before{
  transform-origin:center bottom;
  border-radius:var(--size-chara) var(--size-chara) 0 0;
  transform:rotate(45deg);
  animation-name : pacman_before;
}
.pacman::after{
  transform-origin:center top;
  border-radius:0 0 var(--size-chara) var(--size-chara);
  transform:rotate(-45deg);
  animation-name : pacman_after;
}

@keyframes pacman_before{
  0%{
    transform:rotate(45deg);
  }
  50%{
    transform:rotate(0deg);
  }
  100%{
    transform:rotate(45deg);
  }
}
@keyframes pacman_after{
  0%{
    transform:rotate(-45deg);
  }
  50%{
    transform:rotate(0deg);
  }
  100%{
    transform:rotate(-45deg);
  }
}