.pacman{
  position : absolute;
  z-index  : 10;
  display  : inline-block;
  width    : var(--size-chara);
  height   : var(--size-chara);
}
.pacman::before{
  content:'';
  background-color : yellow;
  display : block;
  width   : 100%;
  height  : 100%;
  border-radius : 50%;
}

/* パクパク処理 */
.pacman[data-status="anim"]::before{
  animation-name : pacman_anim;
  animation-duration:var(--anim-speed);
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes pacman_anim{
  0%{
    clip-path: polygon(
       50%  60%, 
       50%   0%, 
      100%   0%,
      100% 100%,
        0% 100%,
        0%   0%,
       50%   0%,
       50%  60%
    );
  }
  50%{
    clip-path: polygon(
       50%  60%, 
      100%   0%, 
      100%   0%,
      100% 100%,
        0% 100%,
        0%   0%,
        0%   0%,
       50%  60%
    );
  }
  100%{
    clip-path: polygon(
       50%  60%, 
       50%   0%, 
      100%   0%,
      100% 100%,
        0% 100%,
        0%   0%,
       50%   0%,
       50%  60%
    );
  }
}

/* ステージ座標とのズレ解消用処理 */
.pacman{
  transform : translate(calc(var(--block) / -2) , calc(var(--block) / -2));
}

.pacman::before,
.pacman[data-direction="left"]::before{
  transform: rotate(-90deg);
}
.pacman[data-direction="right"]::before{
  transform:rotate(90deg);
}
.pacman[data-direction="up"]::before{
  transform: rotate(0deg);
}
.pacman[data-direction="down"]::before{
  transform: scaleY(-1);
}


/* 動き停止 */
.frame-area[data-status='clear'] .pacman,
.pacman[data-status='crashed']{
  animation-play-state: paused;
}

/* Dead処理 */
.pacman[data-status="dead"]::before{
  animation-name : pacman-dead;
  transform:rotate(0deg);
  animation-delay : 0.0s;
  animation-direction : normal;
  animation-duration : 2.0s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
@keyframes pacman-dead{
  0%{
    clip-path: polygon(
       50%  50%, 
       50%   0%, 
      100%   0%,
      100% 100%,
        0% 100%,
        0%   0%,
       50%   0%,
       50%  50%
    );
  }
  25%{
    clip-path: polygon(
       50%  50%, 
      100%   0%, 
      100%   0%,
      100% 100%,
        0% 100%,
        0%   0%,
        0%   0%,
       50%  50%
    );
  }
  75%{
    clip-path: polygon(
       50%  50%, 
      100% 100%, 
      100% 100%,
      100% 100%,
        0% 100%,
        0% 100%,
        0% 100%,
       50%  50%
    );
  }
  
  100%{
    clip-path: polygon(
       50%  50%, 
       50% 100%, 
       50% 100%,
       50% 100%,
       50% 100%,
       50% 100%,
       50% 100%,
       50%  50%
    );
  }
}

