@import 'frame.css';
@import 'pacman.css';
@import 'ghost.css';
@import 'footer.css';
@import 'mobile.css';

:root{
  --block  : 16px;
  --size-chara : calc(var(--block) * 2);
  color:white;
}
body{
  background-color:black;
}
