.ghost{
  --size-chara : 80px;
  --size-width : calc(var(--size-chara) * 1.0);
  --size-eye   : calc(var(--size-width) * 0.3);
  --size-under : calc(var(--size-width) * 0.2);
  --color-body : red;

  position:absolute;
  top:100px;
  left:100px;
  width:var(--size-chara);
  height:var(--size-chara);
}

.ghost > *{
  margin : 0 auto;
  width  : var(--size-width);
}

.ghost > .head{
  height : calc(var(--size-width) / 2);
  background-color : var(--color-body);
  border-radius    : var(--size-chara) var(--size-chara) 0 0;
}

.ghost > .eye{
  height : 30%;
  background-color : var(--color-body);
  position:relative;
}
.ghost > .eye > *{
  position:absolute;
  top:-15px;
  background-color:white;
  width  : var(--size-eye);
  height : var(--size-eye);
  background-color:white;
  border-radius:50%;
}
.ghost > .eye .eye-left{
  left:13%;
}
.ghost > .eye .eye-right{
  right:13%;
}
.ghost > .eye > *::before{
  content:'';
  display:block;
  background-color:black;
  width  : 50%;
  height : 50%;
  margin : 25%;
  border-radius:50%;
  transition-property : margin;
  transition-duration : 0.3s;
}
.ghost > .eye[data-direction='right'] > *::before{
  margin-left  : 50%;
  margin-right : 0;
}
.ghost > .eye[data-direction='left'] > *::before{
  margin-left  : 0;
  margin-right : 50%;
}
.ghost > .eye[data-direction='top'] > *::before{
  margin-top    : 0;
  margin-bottom : 50%;
}
.ghost > .eye[data-direction='bottom'] > *::before{
  margin-top    : 50%;
  margin-bottom : 0;
}
.ghost > .under{
  height : var(--size-under);
}